.userTable{
    height: 600px;
    padding: 20px;
}
.datagrid{
    -webkit-box-shadow: 7px 7px 14px 0px rgba(219,219,219,1);
    -moz-box-shadow: 7px 7px 14px 0px rgba(219,219,219,1);
    box-shadow: 7px 7px 14px 0px rgba(219,219,219,1);

}
.cellWithImg{
    display: flex;
    align-items: center;
}
.cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.cellAction{
    display: flex;
    align-items: center;
    gap: 15px;
}
.viewbutton{
    padding: 2px 5px;
    border-radius: 5px;
    color: green;
    border: 1px solid rgba(0, 0, 139, 0.256)
}
.deletebutton{
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px solid rgba(255, 0, 0, 0.33);
    cursor: pointer;
}